{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-登录</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
	<div class="login_top clearfix">
		<a href="index.html" class="login_logo"><img src="{% static 'images/logo02.png' %}"></a>
	</div>

	<div class="login_form_bg" style="height: 520px">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">日夜兼程 · 急速送达</div>
			<div class="login_form fr" style="height: 425px">
				<div class="login_title clearfix">
					<h1>用户登录</h1>
					<a href="{% url "hm_user:register" %}">立即注册</a>
				</div>
				<div class="form_input">
					<form method="post" action="{% url 'hm_user:login' %}">
                        {% csrf_token %}
						<input type="text" name="username" value="{{ username }}" class="name_input" placeholder="请输入用户名">
						<div class="user_error" id="tishi"></div>
						<input type="password" name="pwd" class="pass_input" placeholder="请输入密码">
						<div class="pwd_error">输入错误</div>

                        <div style="padding: 130px 0 0 0;">
                            <img src="{{ image_url}}" alt="captcha" class="captcha">
                            <input type="hidden" name="captcha_0" value="{{ hashkey }}" required id="id_captcha_0">
                            <input type="text" name="captcha_1" required id="id_captcha_1" autocapitalize="off" autocomplete="off"
                            autocorrect="off" spellchek="false" style="position: absolute; top: 130px;right: 0px; height: 25px; width: 189px">

{#                            {{ register_form.captcha }}#}
                        </div>
						<div class="more_input clearfix" style="top: 200px">
							<input type="checkbox" name="remember" {{ checked }}>
							<label>记住用户名</label>
							<a href="#">忘记密码</a>
						</div>
						<input type="submit" name="" value="登录" class="input_submit" style="top: 240px">
                        <span style="color: red;float: left;position:absolute;top:300px">{{ error_msg }}</span>
					</form>

				</div>
			</div>
		</div>
	</div>

{#    <script src="https://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.2.min.js"></script>#}
{#    <script type="text/javascript">#}
{#        $(function () {#}
{#            //短信验证码#}
{#            //1.找标签#}
{##}
{#        })#}
{#    </script>#}

	<div class="footer no-mp">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
	{#     图文验证码的刷新与验证           #}
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>

    <script>
        $(function () {
            //刷新
            $('.captcha').click(function () {
                $.getJSON("http://127.0.0.1:8000/haima/img_refresh/", function (result) {
                    $('.captcha').attr('src', result['image_url']);
                    $('#id_captcha_0').val(result['hashkey'])
                });
                return false;
            });
            //验证
            $("#id_captcha_1").blur(function(){    //验证码输入验证ajax
                var response=$('#id_captcha_1').val();
                var hashkey=$('#id_captcha_0').val();
                json_data={
                    'response':response,
                    'hashkey':hashkey
                };
            $.getJSON('http://127.0.0.1:8000/haima/ima_check/',json_data,function(data){
                $("span.captcha_status").remove();
                if (data.status){
                    $("#id_captcha_1").after('<span class="captcha_status" style="color: red;position: absolute; top: 173px;left:20px;">验证成功</span>');
                }else{
                    $("#id_captcha_1").after('<span class="captcha_status" style="color: red;position: absolute; top: 173px;left:20px;">验证失败</span>');
                    }
                });
            });
        })


    </script>
</body>
</html>